.posicao{
    position: absolute;
    left: 200px;
    top: 200px ;
}
.posicao1{
    position: absolute;
    left: 300px;
    top: 200px ;
}
/* diminue a imagem sem perda de qualidade*/
.image-carrosel{
    object-fit: cover;
    height: 540px;
}
.font{
    color: rgb(4, 255, 242);
}
.text{
    text-align: center;
}